body{
	background-color: #111111;
}

#conteneur{
	width: 100%;
	margin: auto;
	margin-top: 50px;
}

#conteneur img {
	display:block;
	margin:auto;
}

h1 {
	color: #e79235;
	text-align:center;
	/*margin-top:3em;*/
}

a {
	color: #e79235;
	text-decoration: none;
}

a.real {
	color: #9A5813FF;
}

a.real:hover {
	color: #e79235;
	text-decoration: underline;
}

#console {
	width: 75%;
	height: 500px;
	margin: auto;
	padding: 2em;
	background-color: black;
	position: relative;
	overflow-y: scroll;
	color: #e79235;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

.prompt {
	margin: auto;
	width: 75%;
	display: block;
}

.prompt-archive {
	color: rgb(213,213,213);
	margin-bottom: 0;
}

#prompt-keyboard {
	padding: 2px;
	width: 75%;
	margin: auto;
	border: solid 2px #e79235;
	color: #e79235;
}

#prompt-cursor {
	display: inline-block;
}

#keyboard {
	border: solid 2px #e79235;
	background-color: #e79235;
	padding: 1%;
	width: 200px;
	height: 200px;
	margin: 1% auto;
	color: black;
}

#keyboard:hover {
	cursor: pointer;
}


/* --------------------------------------------------------------------------
									 RESET
   -------------------------------------------------------------------------- */
 
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	box-sizing: inherit;
}
 
html { 
	box-sizing: border-box;
	font-size: 16px;
	color: #000426;
}
	
body {
	padding:0;
	margin:0;
}

